<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CadastroPessoas</title>
</head>
<body>
    <h1>Cadastro de pessoa</h1>

    <div class="row">
    <form action="salvarpessoa" method="post" th:object="${pessoaobj}">
        <label>ID</label>
        <input type="hidden" th:field="*{id}">
        <input th:field="*{id}" readonly>

        <label>Nome: </label>
        <input name= "nome" th:field="*{nome}"> <!-- th:field faz o vínculo com o atributo nome da classe Pessoa -->

        <label>Sobrenome: </label>
        <input name= "sobrenome" th:field="*{sobrenome}">

        <label>idade: </label>
        <input name= "idade" th:field="*{idade}">
        <input class= "waves-effect waves-light bnt" type="submit" value="Salvar"> <!-- Botão para enviar o formulário -->
    </form>
    </div>
        <form action="pesquisarpessoa" method="post"> <!-- Formulário para pesquisar pessoas pelo nome -->
            <br>
            </br>
            <label>Pesquisar por nome:</label>

            <input name="nomepesquisa"> <!-- Campo para digitar o nome da pesquisa -->

            <input type ="submit" value="buscar"> <!-- Botão de busca -->
        </form>


    <h3>Pessoas salvas: </h3>

    <table>
        <tr th:each="pessoa : ${pessoas}">
            <td th:text="${pessoa.id}"></td>
            <td th:text="${pessoa.nome}"></td>
            <td th:text="${pessoa.sobrenome}"></td>

            <td>
                <a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">
                    Editar
                </a>
            </td>

            <td>
                <a th:href="@{/deletarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">
                    Excluir
                </a>
            </td>
        </tr>
    </table>

    <form th:action="@{/listarpessoas}" method="get">
        <input type="submit" value="Listar Pessoas">
    </form>


</body>
</html>